<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.wbb.KqSortMapper">

	<select id="getAll" resultType="KqSort">
		select id,text,fatherId,remark from t_wbb_kq_sort
		where 1=1 and flag = 1 order by crTime desc
	</select>

</mapper>