<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.system.FleetMapper">


	<select id="getTreeAll"  parameterType="HashMap" resultType="Fleet">

		SELECT *  FROM t_system_fleet

		<if test="fleetId!='root'">
			where id =#{fleetId}
		</if>

	</select>

	<select id="getTruckTree"  parameterType="HashMap" resultType="HashMap">

		SELECT id,fleetName as text FROM t_system_fleet

		<if test="fleetId!='root'">
			where id =#{fleetId}
		</if>

	</select>




	<select id="getTreeFleetList"  parameterType="HashMap" resultType="HashMap">

		SELECT id,fatherId,fleetName as text,contacts,mobile,tel, carCount,passengerCount FROM t_system_fleet

		<if test="fleetId!='root'">
			where id =#{fleetId}
		</if>

	</select>

	<select id="findByFleetId"  parameterType="HashMap" resultType="int">

		SELECT COUNT(*) FROM t_system_fleet WHERE id = #{fleetId}

	</select>




</mapper>