<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.system.CompanyMapper">


	<select id="getTreeAll"   parameterType="HashMap"  resultType="Company">

		SELECT * FROM  t_archives_company
		<if test="fleetId!='root'">
			WHERE fleetId =#{fleetId}
		</if>
	</select>

</mapper>