<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.BusTypePriceMapper">






	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_archives_car_type_chartered_bus_price_list where id=#{id}
	</delete>





	<select id="query" parameterType="HashMap" resultType="HashMap">
		SELECT  l.*, c.company ,t.modelName,f.fleetName,bt.charteredBusType from t_archives_car_type_chartered_bus_price_list l
		LEFT JOIN t_archives_company c ON l.companyId = c.id
		LEFT JOIN t_archives_car_type t   ON l.carTtypeId = t.id
		LEFT JOIN t_system_fleet f ON l.fleetId = f.id
		LEFT JOIN t_charteredbus_type bt  ON l.charteredBusTypeId = bt.id
		WHERE  1=1
		<if test="fleetId!='root'">
			AND l.fleetId =#{fleetId}
		</if>

		<if test="carTtypeId!=null and carTtypeId!=''">
			AND l.carTtypeId  = #{carTtypeId}
		</if>
		<if test="charteredBusTypeId!=null and charteredBusTypeId!=''">
			AND l.charteredBusTypeId  = #{charteredBusTypeId}
		</if>
	</select>





	<select id="queryBusTypePriceList" parameterType="HashMap" resultType="HashMap">
		SELECT *  from t_charteredbus_type
		WHERE  1=1
		<if test="fleetId!='root'">
			AND fleetId =#{fleetId}
		</if>


	</select>

	<select id="checkName"   parameterType="BusTypePrice" resultType="int"  >
		SELECT COUNT(1) FROM t_archives_car_type_chartered_bus_price_list
		WHERE fleetId =#{fleetId}
		AND carTtypeId= #{carTtypeId}
		AND  charteredBusTypeId = #{charteredBusTypeId}
		AND  ascription = #{ascription}
	</select>



	<select id="checkNameById"   parameterType="BusTypePrice" resultType="int"  >
		SELECT COUNT(1) FROM t_archives_car_type_chartered_bus_price_list
		WHERE fleetId =#{fleetId}
		AND carTtypeId= #{carTtypeId}
		AND  charteredBusTypeId = #{charteredBusTypeId}
		AND  ascription = #{ascription}
		AND  id != #{id}
	</select>












</mapper>