<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.ContractMapper">

	<select id="query" parameterType="HashMap" resultType="HashMap">
		select u.id, u.contractNO, u.customerID,f.customerName,u.loadingPointID,
			   g.linesName as loadingPoint, u.unloadingPointID,h.linesName as unloadingPoint,
			   u.freight,u.taxYN
		from  t_logistics_contract u
		left join  t_logistics_dossier_customer f on u.customerID = f.id
		left join  t_logistics_dossier_lines g on u.loadingPointID = g.id 
		left join  t_logistics_dossier_lines h on u.unloadingPointID = h.id
		where 1=1 			
		
		<if test="contractNO!=null and contractNO!=''">
			and contractNO like '%${contractNO}%'
		</if>
		
		<if test="customerName!=null and customerName!=''">
			and f.customerName like '%${customerName}%'
		</if>		
		<if test="loadingPoint!=null and loadingPoint!=''">
			and g.linesName like '%${loadingPoint}%'
		</if>			
		<if test="unloadingPoint!=null and unloadingPoint!=''">
			and h.linesName like '%${unloadingPoint}%'
		</if>	
		<if test="freight!=null and freight!=''">
			and u.freight = '${freight}'
		</if>		
		<if test="taxYN!=null and taxYN!=''">
			and u.taxYN = '${taxYN}'
		</if>			
												
		order by contractNO desc		
		
	</select>

	<select id="getAll" parameterType="HashMap" resultType="Contract">
		select u.id,u.customerID,(u.contractNO+'('+f.customerName+')') as contractNO,
		u.loadingPointID,u.unloadingPointID,u.freight,u.taxYN
		 from  t_logistics_contract u
		 left join  t_logistics_dossier_customer f on u.customerID = f.id
		 order by u.contractNO desc
	</select>
	

	<insert id="saveTable" parameterType="HashMap">
		insert into  t_logistics_contract (
			id,contractNO,customerID,loadingPointID,unloadingPointID,freight,taxYN
		) values (
			#{id},#{contractNO},#{customerID},#{loadingPointID},#{unloadingPointID},#{freight},#{taxYN}
		)
	</insert>
	
	<update id="updateTable" parameterType="HashMap">
		update  t_logistics_contract set 
		contractNO=#{contractNO},customerID=#{customerID},loadingPointID=#{loadingPointID},
		unloadingPointID=#{unloadingPointID},freight=#{freight},taxYN=#{taxYN}
		where id=#{id}
	</update>
	
	<delete id="deleteTable" parameterType="HashMap">
		delete from  t_logistics_contract where id=#{id} 
	</delete>
	
	<select id="checkName" parameterType="HashMap" resultType="Integer">
		select count(*) from  t_logistics_contract where id!=#{id} and contractNO=#{contractNO}  
	</select>		


</mapper>