<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.CustomerMapper">

	<select id="query" parameterType="HashMap" resultType="HashMap">
		select d.*, f.fleetName,c.company,t.driverType
		from   t_archives_driver d
		LEFT JOIN t_system_fleet f ON d.fleetId = f.id
		LEFT  join t_archives_company c  ON d.companyId = c.id
		LEFT join  t_driver_type t ON d.driverTypeId = t.id
		where 1=1
		<if test="driverName!=null and driverName!=''">
			and d.driverName like '%${driverName}%'
		</if>
        <if test="driverId!=null and driverId!=''">
            and d.driverId like '%${driverId}%'
        </if>
		
		<if test="companyId!=null and companyId!=''">
			and d.companyId like '%${companyId}%'
		</if>		
		<if test="tel!=null and tel!=''">
			and d.mobile like '%${tel}%'
		</if>		
		<if test="address!=null and address!=''">
			and d.address like '%${address}%'
		</if>
		<if test="fleetId!='root'">
		and d.fleetId  = #{fleetId}
		</if>
		
	</select>

	<select id="getAll" parameterType="HashMap" resultType="Customer">
		select id,fleetId,driverName,companyId
		 from   t_archives_driver
		 where 1=1
		<if test="fleetId!='root'">
			and fleetId  = #{fleetId}
		</if>
	</select>
	

	<insert id="saveTable" parameterType="HashMap">
		insert into   t_archives_driver (
			id,fleetId,companyId,driverTypeId,driverName,statuesId,sex,drivingExperience,peccancyCount,mobile,address,score
		) values (
			#{id},#{fleetId},#{companyId},#{driverTypeId},#{driverName},#{statuesId},#{sex},#{drivingExperience},#{peccancyCount},#{tel},#{address},#{score}
		)
	</insert>
	
	<update id="updateTable" parameterType="HashMap">
		update   t_archives_driver set
		fleetId=#{fleetId},companyId=#{companyId},driverName=#{driverName},statuesId=#{statuesId},sex=#{sex},drivingExperience=#{drivingExperience},
		peccancyCount=#{peccancyCount},address=#{address},driverTypeId=#{driverTypeId},score=#{score},mobile=#{tel}
		where id=#{id}
	</update>
	
	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_archives_driver where id=#{id}
	</delete>
	
	<select id="checkName" parameterType="HashMap" resultType="Integer">
		select count(*) from   t_archives_driver where fleetId=#{fleetId} and driverName=#{driverName}
		<if test="id!=null and id!=''">
			and id !=#{id}
		</if>
	</select>		


</mapper>