<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.DispatcherPlateNoMapper">






	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_archives_dispatcher_plateNo where id=#{id}
	</delete>




	<select id="query" parameterType="HashMap" resultType="HashMap">
		SELECT dp.*, u.loginName,c.plateNo,f.fleetName FROM t_archives_dispatcher_plateNo  dp
		LEFT JOIN  t_system_user u ON u.id = dp.userId
		LEFT JOIN t_archives_car  c ON c.id = dp.plateNoId
		LEFT JOIN t_system_fleet f ON f.id = dp.fleetId

		WHERE  1=1
		<if test="userId!=null and userId!=''">
			AND userId = '${userId}'
		</if>
		<if test="fleetId!='root'">
			AND dp.fleetId =#{fleetId}
		</if>

	</select>









</mapper>