<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.PassengerCommentMapper">






	<delete id="deleteTable" parameterType="HashMap">
		delete from t_passenger_comment where id=#{id}
	</delete>




	<select id="query" parameterType="HashMap" resultType="HashMap">
		SELECT pc.*,f.fleetName,d.driverName,c.plateNo from t_passenger_comment pc
		LEFT JOIN t_system_fleet f ON f.id = pc.fleetId
		LEFT JOIN t_archives_driver d ON d.id = pc.driverId
		LEFT JOIN t_archives_car c ON c.id = pc.plateNoId
		WHERE  1=1
		<if test="fleetId!='root'">
			AND fleetId =#{fleetId}
		</if>
		<if test="driverName!=null and driverName!=''">
			AND pc.driverId  in (SELECT id FROM t_archives_driver WHERE driverName LIKE '%${driverName}%')
		</if>
		<if test="plateNo!=null and plateNo!=''">
			AND pc.plateNoId  in (SELECT id FROM t_archives_car WHERE plateNo LIKE '%${plateNo}%')
		</if>


</select>









</mapper>