<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.PassengerMapper">






	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_archives_passenger where id=#{id}
	</delete>




	<select id="query" parameterType="HashMap" resultType="HashMap">
		SELECT p.*,f.fleetName,c.company from t_archives_passenger p
		left join t_system_fleet f ON f.id = p.fleetId
		left join t_archives_company c ON c.id = p.companyId
		WHERE  1=1
		<if test="fleetId!='root'">
			AND p.fleetId =#{fleetId}
		</if>
		<if test="passengerName!=null and passengerName!=''">
			AND p.passengerName like '%${passengerName}%'
		</if>
		<if test="mobile!=null and mobile!=''">
			AND p.mobile like '%${mobile}%'
		</if>
	</select>

	<select id="findById" parameterType="String" resultType="HashMap">
		SELECT * FROM t_archives_passenger WHERE id = #{id}

	</select>





	<select id="queryByCompany" parameterType="HashMap" resultType="HashMap">
		SELECT p.*,f.fleetName,c.company from t_archives_passenger p
		left join t_system_fleet f ON f.id = p.fleetId
		left join t_archives_company c ON c.id = p.companyId
		INNER JOIN (SELECT * FROM t_archives_approve_company WHERE userId =#{userId} ) ac ON ac.companyId = p.companyId
		WHERE  1=1
		<if test="fleetId!='root'">
			AND p.fleetId =#{fleetId}
		</if>
		<if test="passengerName!=null and passengerName!=''">
			AND p.passengerName like '%${passengerName}%'
		</if>
		<if test="mobile!=null and mobile!=''">
			AND p.mobile like '%${mobile}%'
		</if>
	</select>



	<select id="queryPassengerById" parameterType="HashMap" resultType="HashMap">
		SELECT p.*,f.fleetName,c.company from t_archives_passenger p
		left join t_system_fleet f ON f.id = p.fleetId
		left join t_archives_company c ON c.id = p.companyId
		WHERE  1=1
		AND p.companyId = #{companyId}
		<if test="fleetId!='root'">
			AND p.fleetId =#{fleetId}
		</if>
		<if test="passengerName!=null and passengerName!=''">
			AND p.passengerName like '%${passengerName}%'
		</if>
	</select>

	<select id="findPhone" parameterType="String" resultType="String">
		SELECT mobile FROM t_archives_passenger  WHERE id = #{userId}
	</select>

	<select id="checkPhone" parameterType="HashMap" resultType="int">
		select count(*) from  t_archives_passenger WHERE fleetId = #{fleetId} AND mobile = #{mobile}
		<if test="id!=null and id!=''">
			and id !=#{id}
		</if>

	</select>











</mapper>