<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.TruckMapper">

	<select id="query" parameterType="HashMap" resultType="HashMap">
		select c.*,co.company,f.fleetName,ct.modelName,d.driverName,c.id as plateNoId
		from t_archives_car c
		LEFT  JOIN  t_archives_company co ON c.companyId = co.id
		LEFT JOIN    t_system_fleet f  ON c.fleetId = f.id
		LEFT   JOIN t_archives_car_type ct ON c.carType = ct.id
		LEFT   JOIN t_archives_driver d  ON c.driverId = d.id
		where 1=1
		<if test="fleetId!='root'">
			and c.fleetId = #{fleetId}
		</if>
		<if test="plateNo!=null and plateNo!=''">
			and c.plateNo like '%${plateNo}%'
		</if>
		<if test="driverId!=null and driverId!=''">
			and c.driverId like '%${driverId}%'
		</if>
	</select>

	<select id="queryCarTyoe" parameterType="String" resultType="HashMap">
			SELECT * FROM t_archives_car
			WHERE id = #{plateNoId}
	</select>




	<select id="queryTruckDispatcher" parameterType="HashMap" resultType="HashMap">
		SELECT dp.*,f.fleetName,c.plateNo,c.modelName,d.driverName,d.driverId  FROM t_archives_dispatcher_plateno  dp
		LEFT JOIN t_system_fleet f ON dp.fleetId = f.id
		INNER JOIN (SELECT c.*,t.modelName FROM t_archives_car c LEFT JOIN t_archives_car_type t ON c.carType = t.id WHERE  carType = #{carTypeId}) c ON dp.plateNoId = c.id
		INNER JOIN (SELECT c.*,d.driverName FROM t_archives_car c LEFT JOIN t_archives_driver d ON c.driverId = d.id WHERE  carType =#{carTypeId}) d  ON dp.plateNoId = d.id
		WHERE  1=1
		and dp.userId = #{userId}

		<if test="fleetId!='root'">
			and dp.fleetId = #{fleetId}
		</if>
	</select>


	<select id="queryTruckDispatcherByRoot" parameterType="HashMap" resultType="HashMap">
		SELECT c.*,f.fleetName,ct.modelName,c.id as plateNoId,d.driverName FROM t_archives_car c
		LEFT JOIN t_system_fleet f ON c.fleetId = f.id
		LEFT JOIN t_archives_car_type ct ON c.carType = ct.id
		LEFT JOIN t_archives_driver d ON c.driverId = d.id

		<if test="fleetId!='root'">
			and c.fleetId = #{fleetId}
		</if>
	</select>




	<select id="getAll" parameterType="HashMap" resultType="Truck">
		select id,vehicleManager,driver,tel,plateNumber,truckModel,DWT,
		truckCargoType,CONVERT(varchar(100), buyingTime, 20) as buyingTime,
		truckType,gradeID,dispatchers,vehicleCondition
		 from t_archives_car 
		 where 1=1 
		<if test="dispatchers!=null and dispatchers!=''">
			and dispatchers = '${dispatchers}'
		</if>			
		order by dispatchers desc		 
	</select>
	

	<insert id="saveTable" parameterType="HashMap">
		insert into t_archives_car (
			id,fleetId,plateNo,carType,companyId,vehicleOwner,tel,buyDatetime,driverId,statues,oilTotal,peccancyCount,address,VIN,model,ascription
		) values (
			#{id},#{fleetId},#{plateNo},#{carType},#{companyId},#{vehicleOwner},#{tel},#{buyDatetime},#{driverId},#{statues},#{oilTotal},#{peccancyCount},#{address},#{VIN},#{model},#{ascription}

		)
	</insert>
	
	<update id="updateTable" parameterType="HashMap">
		update t_archives_car set fleetId=#{fleetId},plateNo=#{plateNo},carType=#{carType}
		,companyId=#{companyId},vehicleOwner=#{vehicleOwner},tel=#{tel}, buyDatetime=#{buyDatetime}, driverId=#{driverId}, statues=#{statues}
		,oilTotal=#{oilTotal},peccancyCount=#{peccancyCount},address=#{address},VIN=#{VIN},model=#{model},ascription=#{ascription}
		where id=#{id}
	</update>
	
	<delete id="deleteTable" parameterType="HashMap">
		<!-- update t_archives_car set isTwoBs = 0 where id=#{id} -->
		delete from t_archives_car where id=#{id} 
	</delete>
	
	<select id="checkPlateNumber" parameterType="HashMap" resultType="Integer">
		select count(*) from t_archives_car where id!=#{id} and plateNo=#{plateNo}
		<if test="id!=null and id!=''">
			and id !=#{id}
		</if>
	</select>	


</mapper>