<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.ApplyTypeMapper">






	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_car_apply_settlement where id=#{id}
	</delete>




	<select id="query" parameterType="HashMap" resultType="HashMap">
		SELECT t.*, f.fleetName
		FROM t_car_apply_settlement t
		LEFT JOIN t_system_fleet f
		ON t.fleetId = f.id
		<if test="fleetId!='root'">
			where fleetId =#{fleetId}
		</if>
</select>









</mapper>