<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.BusTypeMapper">






	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_charteredbus_type where id=#{id}
	</delete>




	<select id="query" parameterType="HashMap" resultType="HashMap">
	SELECT t.*, f.fleetName
	FROM t_charteredbus_type t
	INNER JOIN  t_system_fleet f
	ON t.fleetId = f.id
	<if test="fleetId!='root'">
		where fleetId =#{fleetId}
	</if>
		<if test="charteredBusType!=null and charteredBusType!=''">
			and t.t_charteredbus_type like '%${charteredBusType}%'
		</if>
	</select>

	<select id="getAll" parameterType="HashMap" resultType="BusType">
		SELECT * FROM t_charteredbus_type
		<if test="fleetId!='root'">
			where fleetId =#{fleetId}
		</if>
	</select>




	<select id="checkByFleetId" parameterType="BusType" resultType="int">
		SELECT COUNT(*) FROM t_charteredbus_type WHERE fleetId=#{fleetId} AND  charteredBusType = #{charteredBusType}
	</select>

	<select id="checkById" parameterType="BusType" resultType="int">
		SELECT COUNT(*) FROM t_charteredbus_type WHERE fleetId=#{fleetId} AND  charteredBusType = #{charteredBusType} AND  id != #{id}
	</select>















</mapper>