<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.CarApplyMapper">





    <select id="query" parameterType="HashMap" resultType="HashMap">
        SELECT a.*, f.fleetName,u.passengerName,c.company,d.driverName ,ct.modelName,cc.plateNo FROM t_car_apply a
        LEFT JOIN t_system_fleet f ON a.fleetId = f.id
        LEFT JOIN t_archives_passenger u ON a.userId = u.id
        LEFT JOIN t_archives_company c ON a.companyId = c.id
        LEFT JOIN t_archives_driver d ON a.driverId = d.id
        LEFT JOIN t_archives_car_type ct ON a.carTypeId = ct.id
        LEFT JOIN t_archives_car cc ON a.plateNoId = cc.id
        WHERE a.statuesId = #{statuesId}

        <if test="fleetId!='root'">
            AND a.fleetId =#{fleetId}
        </if>
        <if test="carApplyNo!=null and carApplyNo!=''">
            AND   a.carApplyNo like '%${carApplyNo}%'
        </if>
    </select>

    <select id="queryAllCarApply" parameterType="HashMap" resultType="HashMap">
        SELECT a.*, f.fleetName,u.passengerName,c.company,d.driverName ,ct.modelName,cc.plateNo FROM t_car_apply a
        LEFT JOIN t_system_fleet f ON a.fleetId = f.id
        LEFT JOIN t_archives_passenger u ON a.userId = u.id
        LEFT JOIN t_archives_company c ON a.companyId = c.id
        LEFT JOIN t_archives_driver d ON a.driverId = d.id
        LEFT JOIN t_archives_car_type ct ON a.carTypeId = ct.id
        LEFT JOIN t_archives_car cc ON a.plateNoId = cc.id
        WHERE 1=1

        <if test="fleetId!='root'">
            AND a.fleetId =#{fleetId}
        </if>
        <if test="carApplyNo!=null and carApplyNo!=''">
            AND   a.carApplyNo like '%${carApplyNo}%'
        </if>
    </select>




    <select id="findapplylocale" parameterType="HashMap" resultType="HashMap">
        SELECT * FROM t_car_apply_locale WHERE carApplyNo = #{carApplyNo}
    </select>








    <select id="queryinsanity" parameterType="HashMap" resultType="HashMap">
        SELECT a.*, f.fleetName,u.passengerName,c.company,d.driverName ,ct.modelName FROM t_car_apply a
        LEFT JOIN t_system_fleet f ON a.fleetId = f.id
        LEFT JOIN t_archives_passenger u ON a.userId = u.id
        LEFT JOIN t_archives_company c ON a.companyId = c.id
        LEFT JOIN t_archives_driver d ON a.driverId = d.id
        LEFT JOIN t_archives_car_type ct ON a.carTypeId = ct.id
        WHERE a.statuesId = '20'

        <if test="fleetId!='root'">
            AND a.fleetId =#{fleetId}
        </if>
        <if test="insanitycarApplyNo!=null and insanitycarApplyNo!=''">
            AND   a.carApplyNo like '%${insanitycarApplyNo}%'
        </if>
    </select>

    <select id="querydispatch" parameterType="HashMap" resultType="HashMap">
        SELECT a.*, f.fleetName,u.passengerName,c.company,d.driverName ,ct.modelName FROM t_car_apply a
        LEFT JOIN t_system_fleet f ON a.fleetId = f.id
        LEFT JOIN t_archives_passenger u ON a.userId = u.id
        LEFT JOIN t_archives_company c ON a.companyId = c.id
        LEFT JOIN t_archives_driver d ON a.driverId = d.id
        LEFT JOIN t_archives_car_type ct ON a.carTypeId = ct.id
        WHERE a.statuesId = '30'

        <if test="fleetId!='root'">
            AND a.fleetId =#{fleetId}
        </if>
        <if test="carApplyNo!=null and carApplyNo!=''">
            AND   a.carApplyNo like '%${carApplyNo}%'
        </if>
    </select>

    <select id="queryapproveLog" parameterType="HashMap" resultType="HashMap">
        SELECT l.*,u.loginName ,f.fleetName FROM  t_car_approve_log l
        LEFT JOIN t_system_user u  ON l.userId = u.id
        LEFT JOIN t_system_fleet f ON l.fleetId = f.id
        WHERE  1=1
        <if test="fleetId!='root'">
            AND l.fleetId =#{fleetId}
        </if>
        <if test="userId!=null and userId!=''">
            AND   l.userId =#{userId}
        </if>
    </select>


    <select id="querydispatchLog" parameterType="HashMap" resultType="HashMap">
        SELECT dl.* ,f.fleetName,c.plateNo,d.driverName,u.loginName FROM t_car_dispatch_log dl
        LEFT JOIN t_system_fleet f ON dl.fleetId = f.id
        LEFT JOIN t_archives_car c ON dl.plateNoId = c.id
        LEFT JOIN t_archives_driver d ON dl.driverId = d.id
        LEFT JOIN t_system_user u ON dl.userId = u.id
        WHERE 1=1

        <if test="fleetId!='root'">
            AND dl.fleetId =#{fleetId}
        </if>
        <if test="userId!=null and userId!=''">
            AND   dl.userId =#{userId}
        </if>
    </select>





    <update id="updateTable" parameterType="CarApply">

      UPDATE t_car_apply
      SET statuesId = '20'
      WHERE carApplyNo=#{carApplyNo}

    </update>

    <update id="cancelcarApply" parameterType="CarApply">

        UPDATE t_car_apply
        SET statuesId = '0'
        WHERE carApplyNo=#{carApplyNo}

    </update>


    <update id="savecarApply" parameterType="CarApply">

        UPDATE t_car_apply
        SET statuesId = '30',driverId=#{driverId},plateNoId=#{plateNoId},carTypeId=#{carTypeId}
        WHERE carApplyNo=#{carApplyNo}


    </update>



    <insert id="insertlog" parameterType="HashMap">

        INSERT INTO t_car_approve_log(
        fleetId,id,carApplyNo,activityId,statues,remark,userId,approveDatetime)
         VALUES(#{fleetId},#{id},#{carApplyNo},#{activityId},#{statues},NULL ,#{userId},#{approveDatetime})


    </insert>

    <insert id="insertdispatchlog" parameterType="HashMap">

        INSERT INTO t_car_dispatch_log(
        fleetId,id,carApplyNo,plateNoId,driverId,userId,dispatchDatetime)
        VALUES(#{fleetId},#{id},#{carApplyNo},#{plateNoId},#{driverId},#{userId},#{dispatchDatetime})


    </insert>


    <delete id="deleteTable" parameterType="HashMap">

        delete from t_car_apply where carApplyNo=#{carApplyNo}
    </delete>









</mapper>