<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fgwater.frame.mapper.logistics.DriverTypeMapper">



	<select id="query" parameterType="HashMap" resultType="HashMap">
	SELECT d.*, f.fleetName
  	FROM t_driver_type d
	LEFT JOIN t_system_fleet f
	ON d.fleetId = f.id
		WHERE  1=1
		<if test="driverType!=null and driverType!=''">
			and d.driverType like '%${driverType}%'
		</if>
		<if test="fleetId!='root'">
			AND fleetId =#{fleetId}
		</if>
	</select>


	<delete id="deleteTable" parameterType="HashMap">
		delete from   t_driver_type where id=#{id}
	</delete>

	<select id="getAll" parameterType="HashMap" resultType="DriverType">
		SELECT   *
		FROM      t_driver_type

	</select>




</mapper>